{% extends "base.html" %}
{% load mathfilters %}

{% block title %}Оплата курсу{% endblock %}

{% block content %}
   <div>
        <h2>Оплата курсу</h2>
        <h2>Назва курсу: {{ course.title }}</h2>
        <p>Ціна за 1 місяць: {{ course.price }} грн</p>
        <p>Course id: {{ course.id }}(test)</p>
   </div>


    <div>

    </div>

    <div>
        <p style="background: #6DDCBD">Оберіть один варіант:</p>

        <input type="radio" id="typeUserChoice1" name="type_user" value="student">
        <label for="contactChoice1">Купую своїй дитині</label>

        <input type="radio" id="typeUserChoice2" name="type_user" value="parent">
        <label for="contactChoice2">Купую собі</label>
    </div>


    <div class="form1">
        <form action="" method="post">
            {{ parent_form.as_p }}
            {% csrf_token %}

            {#    months   #}
            <p style="background: #6DDCBD">Оберіть термін підписки:</p>

            <input type="radio" id="typeSubChoice1" name="type_sub" value="1">
            <label for="typeSubChoice1">1 місяць</label>

            <input type="radio" id="typeSubChoice2" name="type_sub" value="3" checked>
            <label for="typeSubChoice2">3 місяці</label>

            <input type="radio" id="typeSubChoice3" name="type_sub" value="6">
            <label for="typeSubChoice3">6 місяців</label>

            <p id="show-price-1">Всього до сплати: {{ course.price|mul:3 }} грн</p>

            {#    bottoms   #}
            <input type="submit" name="action" value="Оплатити (успіх)">
            <input type="submit" name="action" value="Оплатити (поразка)">
         </form>
    </div>

    <div class="form2">
        <form action="" method="post">
            {{ student_form.as_p }}
            {% csrf_token %}

            {#    months   #}
            <p style="background: #6DDCBD">Оберіть термін підписки:</p>

            <input type="radio" id="typeSubChoice1_1" name="type_sub" value="1">
            <label for="typeSubChoice1">1 місяць</label>

            <input type="radio" id="typeSubChoice2_1" name="type_sub" value="3" checked>
            <label for="typeSubChoice2">3 місяці</label>

            <input type="radio" id="typeSubChoice3_1" name="type_sub" value="6">
            <label for="typeSubChoice3">6 місяців</label>

            <p id="show-price-2">Всього до сплати: {{ course.price|mul:3 }} грн</p>

            {#    bottoms   #}
            <input type="submit" name="action" value="Оплатити (успіх)">
            <input type="submit" name="action" value="Оплатити (поразка)">
         </form>
    </div>


    <script>
        {#  price generating for template ParentForm #}
        let buy_el1 = document.getElementById('typeSubChoice1');
        let buy_el2 = document.getElementById('typeSubChoice2');
        let buy_el3 = document.getElementById('typeSubChoice3');

        buy_el1.addEventListener('click', formPriceFunction);
        buy_el2.addEventListener('click', formPriceFunction);
        buy_el3.addEventListener('click', formPriceFunction);


        let buy_el1_1 = document.getElementById('typeSubChoice1_1');
        let buy_el2_1 = document.getElementById('typeSubChoice2_1');
        let buy_el3_1 = document.getElementById('typeSubChoice3_1');

        buy_el1_1.addEventListener('click', formPriceFunction);
        buy_el2_1.addEventListener('click', formPriceFunction);
        buy_el3_1.addEventListener('click', formPriceFunction);


        {# create UTP for 3 month and 6 month #}
        function formPriceFunction(){
            let buy_el1 = document.getElementById('typeSubChoice1');
            let buy_el2 = document.getElementById('typeSubChoice2');
            let buy_el3 = document.getElementById('typeSubChoice3');

            let buy_el1_1 = document.getElementById('typeSubChoice1_1');
            let buy_el2_1 = document.getElementById('typeSubChoice2_1');
            let buy_el3_1 = document.getElementById('typeSubChoice3_1');

            if(buy_el1.checked) {
                document.getElementById("show-price-1").innerHTML = "Всього до сплати: {{ course.price|mul:1 }} грн"
            }else if(buy_el2.checked){
                document.getElementById("show-price-1").innerHTML = "Всього до сплати: {{ course.price|mul:3 }} грн"
            }else if(buy_el3.checked){
                document.getElementById("show-price-1").innerHTML = "Всього до сплати: {{ course.price|mul:6 }} грн"
            }else {
            }

            if(buy_el1_1.checked){
                document.getElementById("show-price-2").innerHTML = "Всього до сплати: {{ course.price|mul:1 }} грн"
            }else if(buy_el2_1.checked){
                document.getElementById("show-price-2").innerHTML = "Всього до сплати: {{ course.price|mul:3 }} грн"
            }else if(buy_el3_1.checked){
                document.getElementById("show-price-2").innerHTML = "Всього до сплати: {{ course.price|mul:6 }} грн"
            }else {
            }
        }


        {#  form showing  #}
        let el1 = document.getElementById('typeUserChoice1');
        let el2 = document.getElementById('typeUserChoice2');

        let first_radio = document.querySelector('.form1');
        let two_radio = document.querySelector('.form2');

        el1.addEventListener('click', formFunction);
        el2.addEventListener('click', formFunction);

        function formFunction(){
            let el1 = document.getElementById('typeUserChoice1');
            let el2 = document.getElementById('typeUserChoice2');
            if(el1.checked) {
                first_radio.classList.add('visible');
                two_radio.classList.remove('visible');

            }else if(el2.checked){
                two_radio.classList.add('visible');
                first_radio.classList.remove('visible');
            }else {
                console.log('a')
            }
        }
    </script>

{% endblock %}