<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вітаємо! Тепер Ви - Тьютор та частина сім'ї CactusEra Team!</title>
</head>
<body>

<div>
    Хед-тічер {{ first_name_headteacher }} {{ last_name_headteacher }} призначив Вас Тьютором на курс "{{ course_title }}"!
</div>

<div>
    Вітаємо! Тепер Ви - Тьютор курсу "{course_title}!"

    З усіма питаннями Ви можете звертатися до свого Хед-тічера!
    Контактні дані Хед-тічера:
    {{ username_headteacher }}
    {{ phone_number_headteacher }}
    {{ headteacher_email }}
    {{ first_name_headteacher }}
    {{ last_name_headteacher }}

    Вдалого робочого дня!
</div>

</body>
</html>