<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Новий Тьютор!</title>
</head>
<body>

<div>
    Хед-тічер {{ first_name_headteacher }} {{ last_name_headteacher }} додав нового Тьютора на курс "{{ course_title }}"!
</div>

<div>
    Дані про Хед-тічера:
    {{ username_headteacher }}
    {{ phone_number_headteacher }}
    {{ headteacher_email }}
    {{ first_name_headteacher }}
    {{ last_name_headteacher }}

    Дані про нового Тьютора:

    {{ username_new_tutor }}
    {{ phone_number_new_tutor }}
    {{ email_new_tutor }}
    {{ first_name_new_tutor }}
    {{ last_name_new_tutor }}

</div>

</body>
</html>