{#Хтось намагається відновити Ваш обліковий запис за імейлом: {{ email }}. Якщо це ви, будь ласка, перейдіть за посиланням нижче:#}
{#{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}#}
{#Ваш юзернейм, якщо ви раптом забули: {{ user.get_username }}#}
{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ви отримали цей електронний лист, оскільки Ви намагаєтесь скинути пароль для свого облікового запису користувача на сайті {{ site_name }}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваш юзернейм, якщо ви раптом забули:' %} {{ user.get_username }}

{% translate "Дякуєм за користування нашим сайтом!" %}

{% blocktranslate %}З повагою, CactusEra Team{% endblocktranslate %}

{% endautoescape %}
