{% extends "base.html" %}

{% block title %}Відновлення доступу{% endblock %}

{% block content %}
     <h1>Задайте новий пароль</h1>

     {% if validlink %}
         <p>Будь ласка, введіть новий пароль двічі:</p>
         <form action="." method="post">
             {{ form.as_p }}
             {% csrf_token %}
             <p><input type="submit" value="Змінити пароль" /></p>
         </form>
     {% else %}
         <p>Посилання для скидання пароля було недійсним, можливо тому, що воно вже використовувалося. Будь ласка, спробуйте ще раз.</p>
     {% endif %}

{% endblock %}